---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Marco Burgos - Portafolio</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html {
		font-family: system-ui, sans-serif;
		background: #131a29;
	}
	body {
		margin: 0;
		padding: 0;
		min-height: 100vh;
		background: #131a29;
		color: white;
	}
</style>
